/* 
    Created on : Jan 17, 2018, 8:03:46 PM
    Author     : Donnie
*/
.box {box-shadow: none; border-top: 3px solid #fff;}
.pagination > li > a, .pagination > li > span{padding:4px 12px}
.content-header > .breadcrumb{font-size:14px}
.has-error .form-control{border:1px solid #ccc}
.has-error .form-control{box-shadow:none}
.has-error .form-control:focus {border-color: #ccc;-webkit-box-shadow: none;box-shadow: none;}
.has-error .help-block{font-size:12px;margin-bottom:0px}

/*.btn-sm .fa {min-width: 10px;}*/

.icheck-inline{padding-top: 5px;}
.icheck-inline label{font-weight: 400; width: 100px}

.filter {
    display: none;
    border-bottom: 1px #f4f4f4 solid;
   -moz-box-shadow:    inset 0 0 5px #000000;
   -webkit-box-shadow: inset 0 0 5px #000000;
    box-shadow: 
        inset 0px 11px 10px -10px #CCC,
        inset 0px -11px 10px -10px #CCC
}
.filter .btn-filter{ margin-top: 24px}
.pagination {display: inline-block;}
.pagination a {color: black;float: left;padding: 8px 16px;text-decoration: none;transition: background-color .3s;}
.pagination a.active {background-color: #4CAF50;color: white;}
.pagination a:hover:not(.active) {background-color: #ddd;}
.table-hover > tbody > tr:hover{background-color:#eee}
.table-hover > tbody > tr { transition: background-color .4s;}
#data-list > thead > tr > th, #data-list > tbody > tr > th, #data-list > tfoot > tr > th, #data-list > thead > tr > td, #data-list > tbody > tr > td, 
#data-list > tfoot > tr > td {border-top: 1px solid transparent;}
#data-list > tbody > tr.selected { background-color: #ddd }
.nav-tabs-custom {box-shadow:none;  }
.nav-tabs-custom > .nav-tabs {margin: 0;border-bottom-color: transparent;border-top-right-radius: 0px;border-top-left-radius: 0px;}
.nav-tabs-custom > .tab-content {background: #fff;padding: 20px 0px 20px 0px;border: 1px solid #ddd;border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.nav-tabs-custom > .nav-tabs > li.active > a:first-of-type {border-left: 1px solid #ddd;}
.nav-tabs-custom > .nav-tabs > li.active > a {border-top-color: transparent;border-left-color: #ddd;border-right-color: #ddd;}
.daterangepicker .input-mini.active,.daterangepicker .input-mini, .applyBtn, 
.cancelBtn,.daterangepicker td.start-date.end-date,.daterangepicker td.start-date,
.daterangepicker td.end-date,.daterangepicker td, .daterangepicker th,.pagination > li:last-child > a, .pagination > li:last-child > span{border-radius: 0px;}
.pagination {display: inline-block;}
.pagination > li:first-child > a, .pagination > li:first-child > span {margin-left: 0;border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.pagination > li > a, .pagination > li > span {position: relative;float: left;padding: 6px 12px;margin-left: -1px;line-height: 1.42857143;color: #337ab7;text-decoration: none;background-color: #fff;border: 1px solid #eee; }
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, 
.pagination > .disabled > span:hover {color: #777;cursor: not-allowed;background-color: #fff;border-color: #eee; }
ul.filter-category {margin-top:15px; padding-left: 0px;}
ul.filter-category li {margin-bottom: 5px; list-style: none}
/*.margin-tb-15{ margin-top: 15px; margin-bottom: 15px; box-sizing:border-box; }*/
/*.form-horizontal .margin-b-15{ margin-bottom: 15px; box-sizing:border-box; }*/
.bg-transparent{background-color: rgba(255, 255, 255, 0.25) !important;}
/*.form-horizontal .margin-b-15{ margin-bottom: 15px; box-sizing:border-box; }*/

.my_width .modal-dialog{
    width:25%;
}